<!--<div class="col-lg-8 col-lg-offset-2 well well-sm">-->
    <form class="form-horizontal" ng-controller="CreateFormController" name="create_form">

<div class="modal-header">
    <h3 class="modal-title">Обновление</h3>
</div>
<div class="modal-body">
        <fieldset>
<!--             <div class="form-group">
                <label class="col-lg-2 control-label" for="inputDate">Введите дату</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="add.date" type="text" name="inputDate" id="inputDate" placeholder="Введите дату"  />
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputDate">Введите дату</label>
                <div class="col-lg-10">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{$ format $}" ng-model="add.date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" name="inputDate" id="inputDate" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputMoney">Введите сумму</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="add.money" type="text" id="inputMoney" placeholder="Введите сумму"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputComment">Введите описание</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="add.comment" type="text" id="inputComment" placeholder="Введите описание"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="select">Выберите категорию</label>
                <div class="col-lg-10">
                    <select class="form-control" name="select" id="select" ng-model="add.category">
                        <option ng-repeat="item in categories" value="{$ item['operation_type'] $}">{$ item['name'] $}</option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-lg-10 col-lg-offset-2">-->
                    <!--<button class="btn btn-default" type="reset">Очистить</button>-->
                    <!--<button class="btn btn-primary" ng-click="submit()" type="submit">Отправить</button>-->
                    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
                    <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
                <!--</div>-->
            <!--</div>-->
        </fieldset>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="reset">Очистить</button>
    <button class="btn btn-primary" ng-click="submit()" type="submit">Отправить</button>
</div>
        	</form>
