<div class="col-lg-8 col-lg-offset-2 well well-sm">
    <form class="form-horizontal" ng-controller="DeleteFormController" name="delete_form">
        <fieldset>
            <legend>Добавление</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputDate">Дата</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="del.date" type="text" name="inputDate" id="inputDate" placeholder="Введите дату"  disabled="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputMoney">Сумма</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="del.money" type="text" id="inputMoney" placeholder="Введите сумму" disabled="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputComment">Описание</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="del.comment" type="text" id="inputComment" placeholder="Введите описание" disabled="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputCategory">Категория</label>
                <div class="col-lg-10">
                    <input class="form-control" ng-model="del.category" type="text" id="inputCategory" placeholder="Введите описание" disabled="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-default" href="#/">Нет</a>
                    <button class="btn btn-primary" ng-click="submit()" type="submit">Удалить?</button>
                </div>
            </div>
        </fieldset>
	</form>
</div>