<div class="large-12 columns">
    <form ng-controller="LoginFormController" name="login_form">
        <div class="large-12 columns">
            <label>Логин:
                <input ng-model="login.username" type="text" placeholder="Введите имя пользователя" />
            </label>
        </div>
        <div class="large-12 columns">
            <label>Пароль:
                <input ng-model="login.password" type="text" placeholder="Введите пароль" />
            </label>
        </div>
		<button class="button success right" ng-click="submit()">Войти</button>
	</form>
</div>