<button class="btn btn-default" ng-click="create(lg)">Добавить</button>

<table class="table table-striped table-hover well well-sm">
    <thead>
        <tr>
            <th>date</th>
            <th>money</th>
            <th>category</th>
            <th>comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="oper in operations">
            <td><a ng-click="update(lg, oper.id)"">{$ oper.date $}</a></td>
            <td>{$ oper.money $}</td>
            <td>{$ oper.category $}</td>
            <td>{$ oper.comment $}</td>
            <td><a class="btn btn-danger" href="#/delete/{$ oper.id $}">Удалить</a></td>
        </tr>
    </tbody>
</table>